# 🔐 Environment variables
.env

# 🔐 Google OAuth files (VERY IMPORTANT)
credentials.json
token.json

# 🐍 Python cache
__pycache__/
*.pyc

# 🧪 Virtual environment
.venv/
venv/

# 🧾 Logs
*.log

# 📦 OS files
.DS_Store